FontColor = #2c2c2c
*
    margin 0
    padding 0
    outline 0
    -webkit-tap-highlight-color transparent
html,body
    color FontColor
    font-family sans-serif
    width 100%
    height 100%
    a
        text-decoration none !important   
#app
    width 100%
    height 100%
    .page
        width 100%
        .header
            width 100%
            height 1.194rem
            position relative
            border .001rem solid #dddddd
